langchain
langchain-community
langchain-huggingface
langchain-google-genai
google-api-python-client
faiss-cpu
yfinance
beautifulsoup4
transformers
sentence-transformers
PyMuPDF
duckduckgo-search
streamlit-extras
requests